/* The light blue background of the page */
.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #b3dcfd;
  background-image: url(../../assets/create-users_bgd.png);
  background-size: 125%; 
  background-position: center;
}

/* user options */
.userOptions {
  display: flex;
  align-self: center;
  margin-bottom: 4%;
}

.userOption {
  text-align: center;
  cursor: pointer;
}

.userOption input {
  display: none;
}

.userOption input:checked + span {
  background-color: #0071ba;
  color: white;
}

.userOption span {
  display: block;
  padding: 10px 20px;
  border: 1px solid #000;
}

.heading-text {
  align-self: center;
  margin-bottom: 1%;
}

/* white background container */
.user-form-container {
  margin-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
}

.name-id {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 1.7%;
  width: 53%;
}

.name-id.full-width {
  width: 100%;
  justify-content: center;
}

.user-input-field {
  width: 100%;
  padding: 2%;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(47, 47, 48); /* Add a blue shadow when focused */
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
}


/* The "Create New User" Title */
.user-form-container h2 {
  align-self: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}


/* email and password input fields */
.user-form-container input {
  align-self: center;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 50%
}

/* General styling for the input fields */
/*  */

/* Container for input field and visibility icon */
.password-icon {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 53%; /* Same width as other input fields */
  position: relative;
}

/* Visibility icon styling */
.visibility-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 40%;
  transform: translateY(-50%);
}

/* Password field styling to account for the icon */
.password-icon input {
  width: 100%;
  padding-right: 40px; /* Add padding to make room for the icon */
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


/* The create user submit button at bottom */
.user-form-container button {
  align-self: center;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  width: 30%;

  color: white;
  border: none;
  background: linear-gradient(
    90deg,
    #0071ba,
    #ffffff
  ); /* Add gradient background */
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(47, 47, 48); /* Add a blue shadow when focused */
  cursor: pointer;
  transition: background 0.3s ease; /* Smooth transition for hover effect */
}

.adr-logo-users {
  margin-top: 5%;
  align-self: center;
  width: 16%;
  height: auto;
}
