h1 {
  color: white;
}

h3{
  margin-left: 1%;
  font-weight: 250;
  color: #0071ba;
}

.pageTop {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0071ba;
}

.schoolDistrictId{
  color: black;
  font-weight: 500;
}

.pageTitle {
  font-size: 37px;
  color: white;
  font-weight: 600;
}

.assignment {
  background-color: #0071ba;
  border-radius: 7px;
  color: white;
  display: flex;
  gap: 100px;
  align-items: center;
  padding-left: 5px;
  justify-content: space-between;
}

.button {
  background-color: #0071ba;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}



.icon-button {
  background: none;
  font-size: 20px;
}

.icon {
  color: white;
}

.save-book {
  display: block;
  margin-top: 20px;
}

.edit,
.delete {
  background: none;
}

.assignmentTitleCell {
  position: relative;
}

.assignmentTitleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconContainer {
  display: none;
  margin-left: 10px;
}

.assignmentTitleCell:hover .iconContainer {
  display: flex;
}

